<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Brody's personal website">
    <meta name="author" content="Brody Chen">
<!--     <link rel="icon" href="../../favicon.ico">
 -->
    <title>Rufeng (Brody) Chen - Web Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" ng-controller="MainController">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" ng-click="select('home')"><a href="" class="no-underline">Rufeng (Brody) Chen</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ng-class="{active: selectedPage === 'home'}"><a href="" ng-click="select('home')">Home</a></li>
                  <li ng-class="{active: selectedPage === 'work'}"><a href="" ng-click="select('work')">Work</a></li>
                  <li ng-class="{active: selectedPage === 'contact'}"><a href="" ng-click="select('contact')">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" ng-if="selectedPage === 'home'">
            <h1 class="cover-heading"></h1>
            <img class="img-responsive head-img" src="img/head.jpg">
            <p class="lead">Full Stack Web Developer</p>
            <p class="lead">
              <a href="" class="btn btn-lg btn-default" ng-click="select('work')">See my work</a>
            </p>
          </div>

          <div class="inner cover" ng-if="selectedPage === 'work'">
            <div class="row text-center">
              <div class="col-md-4 col-sm-4" ng-repeat="work in works">
                <a href="{{work.url}}" target="_blank">
                  <img class="app-pic img-responsive"
                  src="{{work.img}}" alt="{{work.name}}">
                </a>
                <a href="{{work.url}}" target="_blank">
                  <h4>{{work.name}}</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="inner cover" ng-if="selectedPage === 'contact'">
            <a href="mailto:rufengch@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i> rufengch@gmail.com
            </a>
            <br>
            <br>
            <br>
            <a href="{{myInfo.github}}" class="no-underline">
              <i class="fa fa-github fa-3x icon-link" aria-hidden="true"></i>
            </a>
            <a href="{{myInfo.linkedIn}}" class="no-underline">
              <i class="fa fa-linkedin fa-3x icon-link" aria-hidden="true"></i>
            </a>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Made with ♥, <a href="https://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com">Bootstrap</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>